@page
@model EMR_HSV.Pages.Patients.EditModel

@{
    ViewData["Title"] = "Edit";
}

<div class="jumbotron">
    <h1 class="text-center">Patient Directory</h1>
    <h3 class="text-center">Edit</h3>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Patient.ID" />
            <div class="form-group">
                <label asp-for="Patient.FirstName" class="control-label">First Name:</label>
                <input asp-for="Patient.FirstName" class="form-control" />
                <span asp-validation-for="Patient.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.LastName" class="control-label">Last Name:</label>
                <input asp-for="Patient.LastName" class="form-control" />
                <span asp-validation-for="Patient.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.MiddleInitial" class="control-label">Middle Initial:</label>
                <input asp-for="Patient.MiddleInitial" class="form-control" />
                <span asp-validation-for="Patient.MiddleInitial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.Title" class="control-label">Title:</label>
                <input asp-for="Patient.Title" class="form-control" />
                <span asp-validation-for="Patient.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.DateOfBirth" class="control-label">Date of Birth:</label>
                <input asp-for="Patient.DateOfBirth" class="form-control" />
                <span asp-validation-for="Patient.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.Age" class="control-label">Age:</label>
                <input asp-for="Patient.Age" class="form-control" />
                <span asp-validation-for="Patient.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.StreetAddress" class="control-label">Street Address:</label>
                <input asp-for="Patient.StreetAddress" class="form-control" />
                <span asp-validation-for="Patient.StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.City" control-label">City:</label>
                <input asp-for="Patient.City" class="form-control" />
                <span asp-validation-for="Patient.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.State" class="control-label">State:</label>
                <input asp-for="Patient.State" class="form-control" />
                <span asp-validation-for="Patient.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.ZipCode" class="control-label">Zip Code:</label>
                <input asp-for="Patient.ZipCode" class="form-control" />
                <span asp-validation-for="Patient.ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.PhoneNumberPrimary" class="control-label">Phone Number:</label>
                <input asp-for="Patient.PhoneNumberPrimary" class="form-control" />
                <span asp-validation-for="Patient.PhoneNumberPrimary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.PhoneNumberSecondary" class="control-label">Secondary Phone Number:</label>
                <input asp-for="Patient.PhoneNumberSecondary" class="form-control" />
                <span asp-validation-for="Patient.PhoneNumberSecondary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.SSN" class="control-label">Social Security Number:</label>
                <input asp-for="Patient.SSN" class="form-control" />
                <span asp-validation-for="Patient.SSN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.Email" class="control-label">E-Mail:</label>
                <input asp-for="Patient.Email" class="form-control" />
                <span asp-validation-for="Patient.Email" class="text-danger"></span>
            </div>
            <hr />
            <div class="text-center font-weight-bold">Family Contact Information</div>
            <div class="form-group">
                <label asp-for="Patient.FamilyContactFirstName" class="control-label">First Name:</label>
                <input asp-for="Patient.FamilyContactFirstName" class="form-control" />
                <span asp-validation-for="Patient.FamilyContactFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.FamilyContactSecondName" class="control-label">Last Name:</label>
                <input asp-for="Patient.FamilyContactSecondName" class="form-control" />
                <span asp-validation-for="Patient.FamilyContactSecondName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.FamilyContactPhoneNumber" class="control-label">Phone Number:</label>
                <input asp-for="Patient.FamilyContactPhoneNumber" class="form-control" />
                <span asp-validation-for="Patient.FamilyContactPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.FamilyContactStreetAddress" class="control-label">Street Address:</label>
                <input asp-for="Patient.FamilyContactStreetAddress" class="form-control" />
                <span asp-validation-for="Patient.FamilyContactStreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.FamilyContactCity" class="control-label">City</label>
                <input asp-for="Patient.FamilyContactCity" class="form-control" />
                <span asp-validation-for="Patient.FamilyContactCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.FamilyContactState" class="control-label">State</label>
                <input asp-for="Patient.FamilyContactState" class="form-control" />
                <span asp-validation-for="Patient.FamilyContactState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-page="./Index" class="btn btn-danger">Cancel</a>
            </div>
        </form>
    </div>
</div>

<div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
