@page
@model EMR_HSV.Pages.md.MDPortalModel
@{
}

<div class="jumbotron">
    <h1 class="text-center">Dr's Portal</h1>
</div>

<div style="text-align: center">
    <div class="text-center">What would you like to do?</div>
    <br />
    <a id="administer_va" href="/md/test/va/MDAdministerVA">Administer visual acuity test</a>
    <br />
    <a id="administer_oe" href="/md/test/oe/MDAdministerOE">Administer ocular exam test</a>
    <br />
    <a id="display_all" href="/md/prescribe/MDPrescribe">Write prescription</a>
    <br />
    <br />
    <br />
</div>